<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>CRLP AF Hazard Maps</title>

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href=/css/leaflet.css />

    <!-- App CSS -->
    <link rel="stylesheet" href="/css/styles.css" />

    <link rel="stylesheet" href="/css/mbtiles-filters.css" />

</head>

<body>
    <div id="loadingOverlay">
        <div class="spinner"></div>
        <div class="loading-text">Loading...</div>
    </div>

    <div id="entire-page">
        <div class="header-row">
            <img id="wb-logo" src="/assets/img/globe.png" alt="World Bank Logo" />
            <div id="app-title">Afghanistan Community Resilience and Livelihoods Project - Map Generator</div>
        </div>
        <div id="control-panel">
            <div id="map-settings">
                <div class="dropdown-row">
                    <div class="dropdown-controls">
                        <label class="cp-label">Province:</label><select id="prov-select">
                            <option value="all">-- Show All --</option>
                        </select>
                    </div>
                    <div class="dropdown-controls">
                        <label class="cp-label">District:</label><select id="dist-select">
                            <option value="all">-- Select a Province --</option>
                        </select>
                    </div>
                    <div class="dropdown-controls">
                        <label class="cp-label">Community:</label><select id="comm-select">
                            <option value="all">-- Select a District --</option>
                        </select>
                    </div>
                    <button class="action-btn reset-filters-btn" id="reset-filters-btn">Reset Filters</button>
                </div>
                <div id="raster-list">
                    <div class="hazard-buttons" style="display: flex;">
                        <p class="cp-label">Hazard Layer: </p>

                        <label class="raster-option">
                            <input type="radio" name="hazard-layer" value="none" checked>
                            None
                        </label>

                        <label class="raster-option">
                            <input type="radio" name="hazard-layer" value="flood">
                            Flood
                        </label>

                        <label class="raster-option">
                            <input type="radio" name="hazard-layer" value="avalanche">
                            Avalanche
                        </label>

                        <label class="raster-option">
                            <input type="radio" name="hazard-layer" value="landslide">
                            Landslide
                        </label>
                        <label class="raster-option">
                            <input type="radio" name="hazard-layer" value="earthquake">
                            Earthquake
                        </label>
                    </div>
                    <div style="display: block; align-items: center;">
                        <div style="display: flex; justify-content: space-between; margin-bottom: 4px;">
                            <button onclick="changeMapTint('red-tint-layer')">Red Tint</button>
                            <button onclick="changeMapTint('blue-tint-layer')">Blue Tint</button>
                            <button onclick="changeMapTint('no-tint-layer')">Reset</button>
                        </div>
                        <div id="opacity-slider">
                            <label for="opacity-range" id="opacity-label">Opacity:</label>
                            <input type="range" id="opacity-range" min="0" max="100" step="1" value="50">
                            <span id="opacity-value">50%</span>
                        </div>
                    </div>

                </div>
            </div>
            <div id="action-button">
                <div>
                    <button class="action-btn preview-btn" id="preview-pdf-btn">
                        <span style="font-size: 13px;">🔍</span> Preview PDF
                    </button>
                </div>
                <div>
                    <button class="action-btn download-btn" id="download-pdf-btn">
                        <span style="font-size: 13px;">📥</span> Download PDF
                    </button>
                </div>
            </div>
        </div>
        <div id="main-container">
            <div id="map"></div>
        </div>

        <div id="pdf-wrapper">
            <div class="preview-action-buttons">
                <button class="action-btn download-btn" onclick="createPdfLayout(true)">
                    <span style="font-size: 16px;">📥</span> Download PDF
                </button>
                <button class="action-btn close-btn" id="close-btn" onclick="hidePreview()">
                    <span style="font-size: 16px;">✖</span> Close
                </button>
            </div>
            <div id="pdf-content">
                <div class="row-1">
                    <img id="wb-logo" src="/assets/img/globe.png" alt="World Bank Logo" />
                    <div id="layout-title"></div>
                </div>
                <div class="row-2">
                    <div id="map-container"></div>
                    <div id="right-panel">
                        <div id="right-panel-row-1">
                            <p id="hazard-legend-title"></p>

                            <div class="legend">
                                <div id="hazard-legend-items">
                                    <div class="legend-item">
                                        <span class="legend-color"></span>
                                        <span class="legend-label"></span>
                                    </div>
                                </div>
                                <p id="admin-legend-title"></p>
                                <div>
                                    <div class="legend-item">
                                        <span class="legend-color admin-prov"></span>
                                        <span class="legend-label admin-prov"></span>
                                    </div>
                                    <div class="legend-item">
                                        <span class="legend-color admin-dist"></span>
                                        <span class="legend-label admin-dist"></span>
                                    </div>
                                    <div class="legend-item">
                                        <span class="legend-color admin-comm"></span>
                                        <span class="legend-label admin-comm"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="right-panel-row-2">
                            <p id="active-raster"></p>
                            <textarea id="raster-info"></textarea>
                        </div>
                    </div>
                </div>
                <div id="footer" class="row-3">
                    <div id="footer-column-1">
                        <p id="footer-text">The boundaries and names shown and the designations used on this map do not
                            imply official endorsement or acceptance by the World Bank Group.</p>
                        <div id="foot-c1-r2">
                            <p id="footer-date"></p>
                            <p id="footer-contact"><span style="font-weight:bold">Feedback: </span><a
                                    href="mailto:rariadelafosse@worldbank.org">INSERT EMAIL HERE</a></p>
                        </div>
                    </div>
                    <div id="footer-column-2">
                        <div id="scale-bar"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- External Libraries -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://unpkg.com/georaster"></script>
    <script src="https://unpkg.com/georaster-layer-for-leaflet"></script>
    <script src="https://unpkg.com/leaflet.vectorgrid/dist/Leaflet.VectorGrid.bundled.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html-to-image/1.11.11/html-to-image.min.js"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <!-- App JS -->
    <script type="module" src="js/pdf-export.js"></script>
    <script type="module" src="js/map.js"></script>

    <script>
        var globalTintClass = '';

        document.getElementById('preview-pdf-btn').addEventListener('click', previewPDF);
        // Script for previewing the snapshot result
        function previewPDF() {
            createPdfLayout(false)
            document.getElementById('pdf-wrapper').style.zIndex = 1000;
        }
        function hidePreview() {
            document.getElementById('pdf-wrapper').style.zIndex = -1;
        }

        // 2. Function to change the tint
        function changeMapTint(colorClass) {

            let container = currentHazardLayer.getContainer();

            // Remove any existing tint classes
            container.classList.remove('red-tint-layer', 'blue-tint-layer', 'no-tint-layer');

            // Add the new tint class
            container.classList.add(colorClass);

            // Add filter to Legend items
            globalTintClass = colorClass;

        }

    </script>
</body>

</html>