html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

button, 
input, 
select, 
textarea {
  font-family: inherit;
}

#entire-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

#main-container {
    display: flex;
    gap: 10px;
    flex: 0 0 100vh;
    padding: 10px;
    box-sizing: border-box;
}

#map {
    flex: 1;
    height:100%;
    border: 2px solid #333;
    padding: 5px;
}

#control-panel {
    display: flex;
    flex-direction: row;
    width:95%;
    overflow-y: auto;
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 10px;
    align-self: center;
    align-items: center;
    padding: 8px 12px;
    gap: 20px;
}

#greeting {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    
}

#map-settings {
    display: flex;
    flex-direction: column;
    gap: 8px; 
    flex:1;            
}

.dropdown-controls {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    font-weight: bold;
}

#prov-select,
#dist-select,
#comm-select {
    width: 100%;
}

#raster-list {
    display: flex;
    gap: 2px;
    align-items: center;
}

#preview {
    margin-top: 5px;
    border: 1px solid rgb(0, 0, 0);
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    box-sizing: border-box;
}


#snapshot-title {
    height: 60px;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 1px;
    font-weight: bold;
    text-align: left;
    display: none;
    box-sizing: border-box;
    width: 100%;
}

#snapshot-title.active {
    display: flex;
    align-items:center
}

#result-container {
    flex: 0 0 auto;
    box-sizing: border-box;
}

#pdf-content {
    display:none;
    flex-direction: column;

}

#pdf-content.active {
    display: flex;
    width: 100%;
}

#notes-panel {
    flex: 1;
    display: flex;
    flex-direction: row;
    border: 1px solid #1f1e1e; 
    padding: 5px;
    min-height: 200px;
    margin:5px;
}

.note-section {
  flex: 0 0 33.333%;                 /* Equal width */
  padding: 10px;
  border: 1px solid #ccc;
  min-width:0;
}

#active-raster {
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 2px;
}


#loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 9999;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spinner {
  border: 6px solid #eee;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}

.loading-text {
  margin-top: 15px;
  font-family: sans-serif;
}


/* Hide helper class */
.hidden {
  display: none !important;
}