html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('../assets/fonts/OpenSans_Condensed-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Open Sans', 'Open Sans Condensed',  sans-serif;
}

button, 
input, 
select, 
textarea {
  font-family: inherit;
}

#entire-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

#main-container {
    display: flex;
    flex: 0 0 100vh;
    box-sizing: border-box;
    margin-bottom: 50px;
}

#map {
    height:170mm;
    width:230mm;
    border: 1px solid #004972;
    border-radius: 2px;
    margin-left:auto;
    margin-right:auto;
    box-sizing: border-box;
}

#control-panel {
    display: flex;
    flex-direction: row;
    width:230mm;
    box-sizing: border-box;
    /* overflow-y: auto; */
    background: #B2C8D5;
    border: 1px solid #004972;
    /* border-radius: 4px; */
    align-self: flex-start;
    align-items: center;
    padding: 4px;
    margin: 0px 0px 3px 0px;;
    margin-left:auto;
    margin-right:auto;
}



#opacity-slider {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

#greeting {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    
}

#map-settings {
    display: flex;
    flex-direction: column;
    gap: 8px; 
    flex:1;            
}

.dropdown-controls {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 5px 5px 0px;
}

#prov-select,
#dist-select{
    width: 140px;
}

#comm-select {
    max-width: 170px;
}

#raster-list {
    display: flex;
    gap: 2px;
    align-items: center;
    margin-right: 5px;
}

#raster-list label,
#opacity-value {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
}

#opacity-value {
    margin-left: 5px;
}

#opacity-slider label {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-right: 4px;
    font-size: 14px;
}

.cp-label {
    font-weight: bold;
    margin-right: 4px;
    font-size: 14px;
}

#opacity-range {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 4px;
  border: 1px solid #004972;
  background: linear-gradient(to right, #CCDBE3, #004972);
  outline: none;
}

#opacity-range::-webkit-slider-runnable-track {
  height: 6px;
  border-radius: 4px;
}

#opacity-range::-moz-range-track {
  height: 6px;
  border-radius: 4px;
}

#opacity-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #004972;
  cursor: pointer;
  margin-top: -6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  transition: transform 0.15s ease;
}

#opacity-range::-webkit-slider-thumb:hover {
  transform: scale(1.2);
}


.raster-option {
    display: block;
    padding: 8px 12px;
    margin: 4px 0;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
}

/* Hide default radio button */
.raster-option input[type="radio"] {
    display: none;
}

/* Hover effect */
.raster-option:hover {
    background-color: #CCDBE3;
}

/* Highlight selected option */
.raster-option input[type="radio"]:checked + * {
    font-weight: bold;
}

.raster-option input[type="radio"]:checked ~ * {
    font-weight: bold;
}

/* BEST WAY – highlight whole label when checked */
.raster-option:has(input[type="radio"]:checked) {
    background-color: #004972;
    color: white;
}

#action-button {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    /* margin: 10px 0px 10px 10px; */
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: #004972;
    padding-left: 10px;
    border-radius: 4px;
    align-self: stretch;
    justify-content: center;

}

#action-button button {
    width: 100%;
}

#map-image {
    width: 230mm;
    /* max-width: 100%; */
    display: block;
    /* padding: 0;
    margin-left: 0;
    margin-right: 0; */
    box-sizing: border-box;
}

#pdf-content {
    width: 297mm;  /* A4 landscape width */
    height: 210mm; /* A4 landscape height */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    border: 1px solid #000;
    margin: 0;
    background-color: white;
}

#wb-logo {
    width: 40px;
    height: 40px;
    margin: 10px;
}

#layout-title,
#app-title {
    height: 60px;
    padding: 10px;
    margin-bottom: 1px;
    text-align: left;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items:center;
    color: #ffffff;
    font-size:22px;
}

#map-container {
    width: 230mm;
    flex: 0 0 230mm;   /* fixed width */
    align-items:stretch;
    border: 1px solid red;
    margin:1mm;
}

#map-container img {
    width: 100%;
    height: 100%;
}

.header-row {
    width:230mm;
    margin: 3px auto 3px auto;
    box-sizing: border-box;
}

.row-1,
.header-row {
    display:flex;
    flex-direction: row; /* horizontal layout */
    height:15mm;
    background-color: #004972;
    border: 1px solid black;

}

.row-2 {
    display: flex;
    flex-direction: row; /* horizontal layout */
    flex:1;
    align-items: stretch;
    border: 1px green solid;
    height:150mm;
}

.row-3 {
    display: flex;
    flex-direction: row; /* horizontal layout */
    align-items: stretch;
    height:100px;
    border: 1px solid black;
    height:15mm;
    margin:1mm;
}

#right-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 1px solid #1f1e1e; 
    margin:1mm;
}

#right-panel-row-1,
#right-panel-row-2 {
    flex:1;
    border: 1px solid #ccc;
    padding: 1mm;
}       


.legend {
    display: flex;
    flex-direction: column;
    margin: 5px;
    align-self: center;
}

.legend-item {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin:3px;
}

.legend-color {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    border: 1px solid #ccc;
    display: none;
}


#footer-column-1 {
    flex: 4;
    border: 1px solid #ccc;
    padding: 1mm;
    font-size: 9px;
}

#footer-text {
    margin: 1px;
    font-style: italic;
}

#footer-date,
#footer-contact {
    margin: 1px;
}


#footer-column-2 {
    flex: 1;
    border: 1px solid #ccc;
    padding: 1mm;
}


#scale-bar {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Open Sans Condensed'
}

.custom-scale-text {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 4px;
    color: #004972;
}

.custom-scale-bar {
    position: relative;
    height: 8px;
    background: linear-gradient(to right, #004972 50%, #fff 50%);
    border: 2px solid #004972;
}

#active-raster,
#hazard-legend-title,
#admin-legend-title {
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 2px;
}


#raster-info {
    font-size: 12px;
    font-family: 'Open Sans Condensed', sans-serif;
}

#loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 9999;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.spinner {
  width: 30px;
  height: 30px;
  border: 4px solid transparent;
  border-top: 4px solid #004972;
  border-bottom: 4px solid #004972;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}

.loading-text {
  margin-top: 15px;
}


/* Hide helper class
.hidden {
  display: none !important;
} */